.bg-gradient {
  background: linear-gradient(90deg, #1e3c72 0%, #2a5298 100%);
}

.navbar-brand,
.nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #748cb8 !important;
}

.nav-link.active {
  color: #748cb8 !important;
  font-weight: bold;
}
