<nav class="navbar navbar-expand-lg" style="background-color: #910964">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Referral Search</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/"
            [class.active]="isActive('/')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/referrals"
            [class.active]="isActive('/referrals')"
            >Referrals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/companies"
            [class.active]="isActive('/companies')"
            >Companies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/referrers"
            [class.active]="isActive('/referrers')"
            >Referrers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/recruiting-firms"
            [class.active]="isActive('/recruiting-firms')"
            >Recruiting Firms</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
