@import "@fortawesome/fontawesome-free/css/all.min.css";

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
}
