<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-0 animate-card">
        <div class="card-body text-center">
          <h1 class="card-title text-gradient mb-4">Reference</h1>
          <p class="card-text text-muted mb-4">
            Find referrals and career opportunities with ease.
          </p>
          <a routerLink="/referrals" class="btn btn-primary btn-lg btn-gradient"
            >Go to Referrals</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
